body{
    background-color: indianred;
    text-align: center;
    margin: 0;
}

h1{
    margin: auto;
    font-size: 5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
}







.player1{
    width: 320px;
    position: absolute;
    left: 30%;
    
    
}

.player2{
    width: 320px;
    position: absolute;
    right: 30%;
    
}

.dice{
    width: 20rem;
}